/* #region Common */

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #111111;
  background-color: #fafafa;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  color: currentColor;
}

button {
  padding: 0;
}

img {
  display: block;
}

main {
  flex-grow: 1;
}

section {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 80px;
  padding-left: 0;
}

@media only screen and (min-width: 768px) {
  section {
    padding-bottom: 100px;
  }
}

@media only screen and (min-width: 1158px) {
  section {
    padding-bottom: 120px;
  }
}

button {
  font-family: inherit;
  color: currentColor;
}

input {
  font-family: inherit;
}

.container {
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hide {
  display: none;
}

/* #endregion */

/* #region Menu */

.menu-backdrop {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

@media only screen and (min-width: 768px) {
  .menu-backdrop {
    display: none;
  }
}

.menu {
  background-color: #1e1823;
  position: fixed;
  top: 0;
  right: 0;
  width: 220px;
  height: 100%;
  z-index: 999;
  padding: 20px;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: auto;
}

.menu-backdrop.is-open .menu {
  transform: translateX(0);
}

.menu-close-button {
  margin-left: auto;
  background-color: transparent;
  border: none;
  margin-bottom: 88px;
}

.menu-close-icon {
  stroke: #ffffff;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-icon:active {
  stroke: #fd9222;
}

.menu-nav {
  margin-bottom: auto;
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.nav-item {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item:active {
  color: #fd9222;
}

.socials-list {
  display: flex;
  gap: 14px;
  align-items: center;
}

.socials-item {
  padding: 8px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-icon {
  stroke: #ffffff;
  fill: #ffffff;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-icon:active {
  stroke: #fd9222;
  fill: #fd9222;
}

/* #endregion */

/* #region Header */

.header {
  position: relative;
}

.header-wrapper {
  display: flex;
  align-items: center;
}

.header-nav {
  margin-top: 25px;
  margin-bottom: 19px;
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .header-nav {
    margin-right: auto;
  }
}

.logo-link {
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -0.03em;
}

@media only screen and (min-width: 768px) {
  .logo-link {
    margin-right: 28px;
  }
}

@media only screen and (min-width: 1280px) {
  .logo-link {
    margin-right: 365px;
  }
}

.logo-link-italic {
  font-style: italic;
}

.logo-icon {
}

.menu-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  display: flex;
}

@media only screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-icon {
  stroke: #111111;
}

.header .nav-list {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header .nav-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .header .nav-item {
    color: #111111;
  }
}

.header .socials-list {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header .socials-list {
    display: flex;
  }
}

@media only screen and (min-width: 768px) {
  .socials-item {
    border: 1px solid rgba(17, 17, 17, 0.1);
  }
}

@media only screen and (min-width: 768px) {
  .socials-icon {
    stroke: #111111;
    fill: #111111;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media only screen and (min-width: 768px) {
  .socials-icon:active {
    fill: #fd9222;
  }
}

/* #endregion */

/* #region Hero */

.hero {
}

.hero-image {
}

.hero-title {
}

.button {
}

.buy {
}

.made {
}

.hero-scroll-link {
}

.hero-scroll-icon {
}

/* #endregion */

/* #region Benefits */

.benefits {
}

.benefits-list {
}

.benefits-item {
}

.benefits-icon {
}

.benefits-title {
}

.benefits-text {
}

/* #endregion */

/* #region Ingredients */

.ingredients {
}

.section-title {
}

.section-title-special {
}

.ingredients-list {
}

.ingredients-item {
}

.ingredients-icon {
}

.ingredients-image {
}

.ingredients-subtitle {
}

/* #endregion */

/* #region How it's made */

.howitismade {
}

.howitismade-video {
}

.howitismade-image {
}

.howitismade-icon {
}

.howitismade-wrapper {
}

.howitismade-title {
}

.howitismade-list {
}

.howitismade-item {
}

/* #endregion */

/* #region Products */

.products {
}

.products-list {
}

.products-item {
}

.products-title {
}

.products-text {
}

.products-price {
}

/* #endregion */

/* #region Top sellers */

.topsellers {
}

.topsellers-list {
}

.topsellers-item {
}

.topsellers-caption {
}

/* #endregion */

/* #region Reviews */

.reviews {
}

.reviews-list {
}

.reviews-item {
}

.reviews-name {
}

.reviews-text {
}

/* #endregion */

/* #region Modal */

.modal-backdrop {
}

.modal {
}

.modal-close-button {
}

.modal-icon-close {
}

.modal-form {
}

.form-label {
}

.modal-label {
}

.modal-wrapper {
}

.modal-input {
}

.modal-input-icon {
}

.textarea-label {
}

.modal-textarea {
}

.checkbox-label {
}

.checkbox-text {
}

.modal-checkbox {
}

.modal-checkbox-icon {
}

.checkbox-text-wrapper {
}

.modal-link {
}

/* #endregion */

/* #region Footer */

.footer {
}

.footer-title {
}

.address {
}

.footer-text {
}

.footer-socials {
}

.subscribe-form {
}

.subscribe-email {
}

/* #endregion */
